h1, h2, h3, h4, h5, h6 {
    color: #444444;
    margin-top: 0rem;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    /* background:black; */
    padding: 10px 20px;
    border: solid #dddddd;
    border-radius: 0px;
    margin-top: 0rem;
    margin-bottom:0px ;
  }
  .content-section-dark {
    /* background: #ffffff; */
    background:black;
    padding: 10px 20px;
    border: solid #dddddd;
    border-radius: 0px;
    margin-top: 0rem;
    margin-bottom:0px ;
  }
  
  .article-title {
    color: #444444;
  }
  .article-title-dark {
    color: white;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  a.article-title-dark:hover {
    color: yellowgreen;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  .article-content-dark {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  .article-metadata-dark {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    /* color:yellow; */
    text-decoration: none;
  }
  .article-metadata-dark a:hover {
    /* color: #333; */
    color:yellow;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 50rem;
}
.button{
  border: none;
  color: lightgreen;
  margin-left: none;
  display: flex;
  align-self: flex-start;
  outline: none;
  cursor: pointer;
  float: left;
}
.activated, .button:hover{
  background-color: skyblue;
   scale: 1.1; 
}