{% extends "layout.html" %}
{%block content%}
<br>
<br>
<br>
<figure class="figure">
    <img src="{{url_for('static',filename='image/Galaxy.png')}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Our Logo</figcaption>
  </figure>
    <!-- <img class="mb-4" src="{{url_for('static',filename='image/Galaxy.png')}}" alt="Galaxy" width="72" height="50"> -->
    <br>
    <div class="container-fluid bg-primary text-white">
    <h>For Rectrutiers</h>
    <blockquote class="blockquote">
    <p>Hello we made this webpage using Flask,Bootstrap and Css.Initially we thought 9wa will handle the front-end but we were wrong ,that means i had to learn some basics of frontend. I am currently learning backend fuckalls,yeah managing datas and all,fuck 9wa man.</p>
    <footer class="blockquote-footer text-white">Harsh Singh</footer>
    </blockquote>
    </div>
    </br>
{%endblock%}    