{% extends "layout.html" %}
{%block content%}
<br>
<br>
<div class="container-fluid p-3 my-3 bg-primary text-white">
    <h1><font color="white"><center>Your Blogs</center></font></h1>
    <!-- <p>This container has a border and some extra padding and margins.</p> -->
  </div>
    {%for post in posts%}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {%endfor%}
{%endblock%}
