<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link  rel="stylesheet"type="text/css" href="{{url_for('static',filename='home.css') }}">
    <title>{{title}}</title>
  </head>
<body>

    <!-- navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
          <span class="navbar-text"><b><font color="white">Flask Blog</font></b></span>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#"></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#"></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#"></a>
              </li>
            </ul>

              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="/">Root</a>
                  <a class="nav-item nav-link" href="/home">Home</a>
                  <a class="nav-item nav-link" href="/about">About</a>
                </div>

              
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {%if current_user.is_authenticated%}

                <a class="nav-item nav-link" href="/new_post">New Post</a>
                <a class="nav-item nav-link" href="/account">Account</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
                {%else%}
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Register</a>
                {%endif%}
              </div>
            </div>
          </div>
        </nav>
      <!-- NavBar ends -->


        <main role="main" class="container">
          <div class="row">
            <div class="col-md-8">
              {%with messages=get_flashed_messages(with_categories=true)%}
                {%if messages%}
                  {%for category,message in messages%}
                    <div class="alert alert-{{category}} alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                  {%endfor%}
                {%endif%}
              {%endwith%}
              {% block content %}{% endblock %}
            </div>

          <!-- Sidebar -->
            <div class="col-md-4">
              <div class="content-section" style="margin-top: 4.5rem;">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </main>
</body>
</html>